body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Pirate';
    src: url('../fonts/QuigleyWiggly.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/QuigleyWiggly.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/QuigleyWiggly.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/QuigleyWiggly.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/QuigleyWiggly.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/QuigleyWiggly.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    width: 100vw;
    height: 85vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.contenitore {
    overflow: hidden;
}

.capitolo {
    height: 4vh;
    background-color: #AD4C4C;
    text-align: center;
    line-height: 4vh;
    font-size: 2vh;
    color: white;
    cursor: pointer;
}

    .capitolo:hover {
        text-decoration: underline;
    }

.capitoloScelto {
    background-color: darkred !important;
}

.frecciaTrasparente {
    width: 0;
    height: 0;
    margin-left: 48%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
}

.frecciaSu {
    border-bottom: 10px solid darkred !important;
}